.header__title{
    margin-right: 34px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
    transition: opacity 0.5s;
    color: var(--title-color);
}
.header__title:last-of-type{
    margin-right: 0;
}
.header__title:hover{
    opacity: 0.75;
}
@media screen and (max-width: 800px){
    .header__title {
        display: none;
    }
}