.bicycles__group-bicycles{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: all ease 1s;
    
}
@media screen and (max-width: 768px) {
    .bicycles__group-bicycles {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
}
